#gitで更新管理の対象から外すファイルを「.gitignore」に記載する。

#書き方例 - ファイルを直接指定する場合
secret.txt
passwd.txt

#書き方例 - 拡張子で指定する場合
*.exe
*.tmp

#書き方例 - 特定のディレクトリ以下は除外する場合
.ssh/

#書き方例 - ドットファイルは除外する場合
.*

#書き方例 - OSが自動生成するファイルは除外する場合
.DS_Store
Thumbs.db

